<a href="https://colab.research.google.com/github/winarsibidul03/Pejuang-data-4.0/blob/main/(3)PSDS_List_%26_Struktur_Data_Tuple_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Nama : Winarsi J. Bidul** 

**NIM  : 2000015011**

**Kelas Dasar**

#List

List adalah jenis kumpulan data terurut (ordered sequence) dan merupakan salah satu dari variabel yang sering digunakan di phyton. Serupa namun tak sama dengan array pada bahasa pemrograman. Bedanya, elemen List pada Phyton tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma. Setiap data didalamnya dapat diakses dengan indeks yang dimulai dari 0.

In [ ]:
#Contoh List
L1 = [1, 4, 2, 13]

print(type(L1)) #untuk men

<class 'list'>

In [ ]:
L2 = ["a","Python",3]
L2

['a', 'Python', 3]

In [ ]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'Python', 3]

In [ ]:
matkul = [ "fuzzy", "pdp","metnum","matkeu"]
print(matkul[2])
print(matkul[2])
print(matkul[2:])
print(matkul[2:3])
print(matkul[-2])
print(matkul[-3:-1])
print(matkul[-1])

metnum
metnum
['metnum', 'matkeu']
['metnum']
metnum
['pdp', 'metnum']
matkeu

In [ ]:
S1= [1,"math",2.5,True,"python","A"]
print(S1[2])
print(S1[2:])
print(S1[2:3])
print(S1[-2])
print(S1[-3:-1])
print(S1[-1])
print(type(S1))

2.5
[2.5, True, 'python', 'A']
[2.5]
python
[True, 'python']
A
<class 'list'>

## Latihan

In [ ]:
#Buatlah List kalian sendiri
M1 = [3,4,2,1,3,2,1]

print(type(M1))
M2 = ["I","love","math",3000]
M2

<class 'list'>

['I', 'love', 'math', 3000]

In [ ]:
#Sifat sifat List

#Terurut / Ordered
print("Memanggil List L1 dengan indeks ururtan:", L1[0:3])

#Bisa Diganti / Mutable
L1[1] = 2
print("List L1 setelah diganti elemennya:", L1)

L1 = [1, "dua", True, 2+3j]

#Dapat Diindeks  / Slicing
print("Slicing  List L1:", L1[3])

#Dapat Diijinkan Duplikasi 
L1 = [1, "dua", True, 2+3j, 2+3j]
print("Duplikasi pada List L1:", L1)

Memanggil List L1 dengan indeks ururtan: [1, 4, 2]
List L1 setelah diganti elemennya: [1, 2, 2, 13]
Slicing  List L1: (2+3j)
Duplikasi pada List L1: [1, 'dua', True, (2+3j), (2+3j)]

In [ ]:
#Terurut / Ordered
print("Memanggil List S1 dengan indeks ururtan:", S1[0:3])

#Bisa Diganti / Mutable
S1[1] = 2
print("List S1 setelah diganti elemennya:", S1)

S1 = [1, "dua", True, 2+3j]

#Dapat Diindeks  / Slicing
print("Slicing  List S1:", S1[3])

#Dapat Diijinkan Duplikasi 
S1 = [1, "dua", True, 2+3j, 2+3j]
print("Duplikasi pada List S1:", S1)

Memanggil List S1 dengan indeks ururtan: [1, 'math', 2.5]
List S1 setelah diganti elemennya: [1, 2, 2.5, True, 'python', 'A']
Slicing  List S1: (2+3j)
Duplikasi pada List S1: [1, 'dua', True, (2+3j), (2+3j)]

#Struktur_Data_Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("Ini adalah Tuple", T1)

Ini adalah Tuple (1, 'dua', True, (1+2j))

In [ ]:
#Menampilkan tipe struktur data
type(T1)

tuple

## Sifat sifat tuple

In [ ]:
#Terurut / Ordered
S1[0:3]

(1, 'math', 100)

In [ ]:
#Tidak bisa diganti / Immutable
T1[2] = "manusia"

NameError: ignored

In [ ]:
#Dapat Diindeks / Slicing
print("elemen kedua dari tuple T1 adalah:", S1[1])

elemen kedua dari tuple T1 adalah: math

In [ ]:
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

## Menggabungkan Tuple

In [ ]:
# menggabungkan tuple 
T3 = S1 + T2
T3

(1, 'math', 100, True, 'python', 'A', 3, 2.4, True, 2.4)

## Latihan

In [ ]:
S1 = (1,"math",100,True,"python","A")
print("Ini adalah Tuple", S1)

#Menampilkan tipe struktur data
type(S1)

Ini adalah Tuple (1, 'math', 100, True, 'python', 'A')

tuple

In [ ]:
S2 = (3000, "MSL", True, 2.2,1, "I")
#Menggabungkan antara Tuple1 dan Tuple2
S3 = S1 + S2
S3

(1, 'math', 100, True, 'python', 'A', 3000, 'MSL', True, 2.2, 1, 'I')