<a href="https://colab.research.google.com/github/winarsibidul03/Pejuang-data-4.0/blob/main/(8)PSDS_Penggabungan_DataFrame_dan_slicing_Transformation_Group.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Nama : Winarsi J. Bidul** 

**NIM  : 2000015011**

**Kelas Dasar**

# Penggabungan Series/Dataframe

Terdapat beberapa metode untuk menggabungkan Series/Dataframe di Pandas, yaitu:

1. append
2. concat
3. merge
4. join

# Import Library

Import beberapa library berikut untuk digunakan di sepanjang notebook ini:

In [ ]:
import pandas as pd

## Append
Method **.append()** dapat digunakan pada dataframe/series yang ditujukan untuk menambah row-nya saja.

In [ ]:
# Membuat series of int (s1) dan series of string (s2)
s1 = pd.Series([1,2,3,4,5,6])
s2 = pd.Series(["a","b","c","d","e","f"])
# Menerapkan method append
s1_append_s2 = s1.append(s2)
print("Series - append:\n", s1_append_s2)

Series - append:
 0    1
1    2
2    3
3    4
4    5
5    6
0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

Untuk **Dataframe**

In [ ]:
# Buat dataframe df1 dan df2
df1 = pd.DataFrame({'a':[1,2],
                    'b':[3,4]})
print("df1:\n", df1)
df2 = pd.DataFrame({'b':[1,2],
                    'a':[3,4]})
print("df2:\n", df2)
# Terapkan method append
df1_append_df2 = df1.append(df2)
print("Dataframe - append:\n", df1_append_df2)

df1:
    a  b
0  1  3
1  2  4
df2:
    b  a
0  1  3
1  2  4
Dataframe - append:
    a  b
0  1  3
1  2  4
0  3  1
1  4  2

##Concat

Method **.concat()** dapat digunakan pada dataframe yang ditujukan untuk penggabungan baik dalam row-wise (dalam arah ) atau column-wise.

In [ ]:
# Membuat dataframe df1 dan df2
df1 = pd.DataFrame({'a':[1,2],
                    'b':[3,4]})
print("df1:\n", df1)
df2 = pd.DataFrame({'b':[1,2],
                    'a':[3,4]})
print("df2:\n", df2)
# Menerapkan method concat row-wise
row_wise_concat = pd.concat([df1,df2])
print("Row-wise - concat:\n", row_wise_concat)

df1:
    a  b
0  1  3
1  2  4
df2:
    b  a
0  1  3
1  2  4
Row-wise - concat:
    a  b
0  1  3
1  2  4
0  3  1
1  4  2

Untuk penerapan concat pada **column-wise**

In [ ]:
# Terapkan method concat column-wise
col_wise_concat = pd.concat([df1, df2], axis=1) 
#Axis gunanya kalau exis=1 menambah pada kolom, exis = 0 menambah pada baris
print("Column-wise - concat:\n", col_wise_concat)

Column-wise - concat:
    a  b  b  a
0  1  3  1  3
1  2  4  2  4

Dapat juga menambahkan identifier dari dataframe untuk data yang ditambahkan

In [ ]:
# Penambahan identifier --> membentuh hasil penggabungan multiindex
multiindex_concat = pd.concat([df1,df2],axis=0,keys=['df1','df2'])
print("Multiindex - concat:\n", multiindex_concat)

Multiindex - concat:
        a  b
df1 0  1  3
    1  2  4
df2 0  3  1
    1  4  2

## Merge 
Method **.merge()** untuk menggabungkan Series/Dataframe yang bentuknya mirip dengan syntax join di SQL, specify left and right tables, join key dan how to join (left, right, inner, full outer).

In [ ]:
# Membuat dataframe df1 dan df2
df1 = pd.DataFrame({
   'key':['k1','k2','k3','k4','k5'],
   'val1':[200, 500, 0, 500, 100],
   'val2':[30, 50, 100, 20, 10]
})
print("df1:\n", df1)
df2 = pd.DataFrame({
   'key':['k1','k3','k5','k7','k10'],
   'val3':[1,2,3,4,5],
   'val4':[6,7,8,8,10]
})
print("df2:\n", df2)

df1:
   key  val1  val2
0  k1   200    30
1  k2   500    50
2  k3     0   100
3  k4   500    20
4  k5   100    10
df2:
    key  val3  val4
0   k1     1     6
1   k3     2     7
2   k5     3     8
3   k7     4     8
4  k10     5    10

pd.merge yang ekivalen dengan SQL **left join**

In [ ]:
# Merge yang ekivalen dengan SQL left join
merge_df_left = pd.merge(left=df1, right=df2, how='left', left_on='key',right_on='key')
print('Merge - Left:\n', merge_df_left)

Merge - Left:
   key  val1  val2  val3  val4
0  k1   200    30   1.0   6.0
1  k2   500    50   NaN   NaN
2  k3     0   100   2.0   7.0
3  k4   500    20   NaN   NaN
4  k5   100    10   3.0   8.0

pd.merge yang ekivalen dengan SQL **right join**

In [ ]:
# Merge yang ekivalen dengan SQL right join
merge_df_right = pd.merge(left=df1, right=df2, how='right', left_on='key',right_on='key')
print('Merge - Right:\n', merge_df_right)

Merge - Right:
    key   val1   val2  val3  val4
0   k1  200.0   30.0     1     6
1   k3    0.0  100.0     2     7
2   k5  100.0   10.0     3     8
3   k7    NaN    NaN     4     8
4  k10    NaN    NaN     5    10

pd.merge yang ekivalen dengan SQL **inner join**

In [ ]:
# Merge yang ekivalen dengan SQL inner join
merge_df_inner = pd.merge(left=df1, right=df2, how='inner', left_on='key',right_on='key')
print('Merge - Inner:\n', merge_df_inner)

Merge - Inner:
   key  val1  val2  val3  val4
0  k1   200    30     1     6
1  k3     0   100     2     7
2  k5   100    10     3     8

pd.merge yang ekivalen dengan SQL **outer join**

*   Item daftar
*   Item daftar

In [ ]:
# Merge yang ekivalen dengan SQL outer join
merge_df_outer = pd.merge(left=df1, right=df2, how='outer', left_on='key',right_on='key')
print('Merge - Outer:\n', merge_df_outer)

Merge - Outer:
    key   val1   val2  val3  val4
0   k1  200.0   30.0   1.0   6.0
1   k2  500.0   50.0   NaN   NaN
2   k3    0.0  100.0   2.0   7.0
3   k4  500.0   20.0   NaN   NaN
4   k5  100.0   10.0   3.0   8.0
5   k7    NaN    NaN   4.0   8.0
6  k10    NaN    NaN   5.0  10.0

Bagaimana jika salah satu dataframe atau keseluruhan dataframe yang akan digabungkan tersebut memiliki multiindex?

In [ ]:
# Membuat dataframe df1 dan df2
df1 = pd.DataFrame({
   'key':['k1','k2','k3','k4','k5'],
   'val1':[200, 500, 0, 500, 100],
   'val2':[30, 50, 100, 20, 10]
}).set_index(['key','val2'])
print('Dataframe 1:\n', df1)
df2 = pd.DataFrame({
   'key':['k1','k3','k5','k7','k10'],
   'val3':[1,2,3,4,5],
   'val4':[6,7,8,8,10]
}).set_index(['key','val3'])
print('Dataframe 2:\n', df2)

Dataframe 1:
           val1
key val2
k1  30     200
k2  50     500
k3  100      0
k4  20     500
k5  10     100
Dataframe 2:
           val4
key val3
k1  1        6
k3  2        7
k5  3        8
k7  4        8
k10 5       10

Jika digabungkan secara langsung seperti yang telah dilakukan pada bagian sebelumnya

In [ ]:
# Merge dataframe yang memiliki multi index
# df_merge = pd.merge(df1,df2)
# print('Merging dataframe:\n', df_merge)

In [ ]:
# Merge dataframe yang memiliki multi index
df_merge = pd.merge(df1.reset_index(),df2.reset_index())
print('Merging dataframe:\n', df_merge)

Merging dataframe:
   key  val2  val1  val3  val4
0  k1    30   200     1     6
1  k3   100     0     2     7
2  k5    10   100     3     8

## Join
Metthod **.join()** digunakan pada dataframe untuk menggabungkan kedua data dengan set index pada kedua tabel tersebut sebagai join key, tanpa index, hal ini tidak akan berhasil.

In [ ]:
# Buat dataframe df1 dan df2
df1 = pd.DataFrame({
   'key':['k1','k2','k3','k4','k5'],
   'val1':[200, 500, 0, 500, 100],
   'val2':[30, 50, 100, 20, 10]
})
df2 = pd.DataFrame({
   'key':['k1','k3','k5','k7','k10'],
   'val3':[1,2,3,4,5],
   'val4':[6,7,8,8,10]
})
# Penerapan join dengan menggunakan set_index dan keyword how
# df1.join(df2) #<-- akan error

In [ ]:
print(df1.set_index('key').join(df2.set_index('key')))

     val1  val2  val3  val4
key
k1    200    30   1.0   6.0
k2    500    50   NaN   NaN
k3      0   100   2.0   7.0
k4    500    20   NaN   NaN
k5    100    10   3.0   8.0

Untuk tipe join yang lain (contoh=inner), harus menspecify keyword how='inner' seperti yang dicontohkan berikut ini

In [ ]:
join_df = df1.set_index('key').join(df2.set_index('key'), how='inner')
print(join_df)

     val1  val2  val3  val4
key
k1    200    30     1     6
k3      0   100     2     7
k5    100    10     3     8

In [ ]:
df_super_store = pd.read_csv('super_store.csv')
df_super_store.head()

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164

In [ ]:
df_2=df_super_store.copy()
df_2.head()

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164

[16.01, 14/12/2022] +62 812-7292-4589: data.drop(labels=["label_1","label_2","label_3"], # List untuk indeks(baris) yang akan dihapus atau nama kolom 
          axis=1, # 0 untuk menghapus baris dan 1 untuk menghapus kolom
          inplace=False) #Jika inplace True maka data akan diperbaharui dengan drop
[16.07, 14/12/2022] +62 812-7292-4589: Untuk melakukan penghapusan data, Pandas memiliki salah atu attribute yang terkait yaitu .drop(). Syntax dari attribute ini adalah sebagai berikut:

python
data.drop(labels=["label_1","label_2","label_3"], # List untuk indeks(baris) yang akan dihapus atau nama kolom 
          axis=1, # 0 untuk menghapus baris dan 1 untuk menghapus kolom
          inplace=False) #Jika inplace True maka data akan diperbaharui dengan drop

In [ ]:
df_2_baru = df_2.drop(labels=['order_date',	'customer_id'],
                      axis=1,
                      inplace=False)
print(df_2.columns)
print(df_2_baru.columns)

Index(['order_id', 'order_date', 'customer_id', 'segment', 'category',
       'sub_category', 'sales', 'quantity', 'profit'],
      dtype='object')
Index(['order_id', 'segment', 'category', 'sub_category', 'sales', 'quantity',
       'profit'],
      dtype='object')

In [ ]:
df_2_baru=df_2.drop(labels=[10,20,30,40,50,60],
                    axis=0,
                    inplace=False)
print(df_2.shape)
print(df_2_baru.shape)

(9988, 9)
(9982, 9)

In [ ]:
df_2['total_sales'] = df_2['sales']*df_2['quantity']
df_2.head()

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit,total_sales
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136,523.9200
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820,2195.8200
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714,29.2400
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310,4787.8875
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164,44.7360

Mengurutkan data:

In [ ]:
## Mengurutkan Data Pengurutan dataframe dapat menggunakan attribute `.sort_values()` dengan syntax berikut: python
df.sort_values(by='col1',          # Mengurutkan berdasar kolom tertentu
               ascending=False)    # Menaik(ascending=True) atau menurun(ascending=False)

In [ ]:
df_2_urut=df_2.sort_values(by='segment',
                           ascending=True)
df_2_urut

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit,total_sales
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.960,2,41.9136,523.920
5505,CA-2015-168529,10/8/2015,MB-17305,Consumer,Furniture,Furnishings,145.900,5,62.7370,729.500
5504,CA-2016-150000,4/8/2016,PG-18820,Consumer,Office Supplies,Envelopes,17.920,4,8.6016,71.680
5503,US-2016-162026,10/8/2016,JE-15745,Consumer,Office Supplies,Paper,61.960,2,27.8820,123.920
5498,CA-2017-164378,7/15/2017,MM-18055,Consumer,Office Supplies,Paper,8.960,2,4.3904,17.920
...,...,...,...,...,...,...,...,...,...,...
6051,CA-2016-124016,9/23/2016,JS-15940,Home Office,Office Supplies,Binders,12.201,7,-9.7608,85.407
6050,CA-2016-124016,9/23/2016,JS-15940,Home Office,Furniture,Furnishings,28.000,4,7.7000,112.000
6049,CA-2016-124016,9/23/2016,JS-15940,Home Office,Office Supplies,Paper,11.952,3,4.0338,35.856
699,CA-2015-119291,5/14/2015,JO-15550,Home Office,Office Supplies,Binders,18.588,2,-13.6312,37.176
6714,CA-2016-134789,4/8/2016,CK-12325,Home Office,Office Supplies,Paper,25.920,4,12.7008,103.680

In [ ]:
df_2_urut=df_2.sort_values(by=['segment','category'],
                           ascending=True)
df_2_urut

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit,total_sales
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136,523.9200
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820,2195.8200
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310,4787.8875
5,CA-2014-115812,6/9/2014,BH-11710,Consumer,Furniture,Furnishings,48.8600,7,14.1694,342.0200
10,CA-2014-115812,6/9/2014,BH-11710,Consumer,Furniture,Tables,1706.1840,9,85.3092,15355.6560
...,...,...,...,...,...,...,...,...,...,...
9858,CA-2017-113278,1/14/2017,HR-14770,Home Office,Technology,Accessories,159.8000,4,70.3120,639.2000
9872,US-2017-166324,4/20/2017,BE-11455,Home Office,Technology,Phones,122.3820,3,-24.4764,367.1460
9954,CA-2017-141446,9/16/2017,CL-12700,Home Office,Technology,Accessories,18.0000,1,3.2400,18.0000
9967,US-2016-103674,12/6/2016,AP-10720,Home Office,Technology,Phones,271.9600,5,27.1960,1359.8000
9970,US-2016-103674,12/6/2016,AP-10720,Home Office,Technology,Phones,249.5840,2,31.1980,499.1680

In [ ]:
# Mengganti nama kolom "profit" menjadi "keuntungan"
df2 = df.rename(columns={"profit":"keuntungan"})
df2.head()

Index merupakan key identifier dari tiap row/column untuk Series atau Dataframe (sifatnya tidak mutable untuk masing-masing value tapi bisa diganti untuk semua value sekaligus).

Jika tidak disediakan, pandas akan membuat kolom index default secara otomatis sebagai bilangan bulat (integer) dari 0 sampai range jumlah baris data tersebut.

Kolom index dapat terdiri dari

1. satu kolom (single index), atau
2. multiple kolom (disebut dengan hierarchical indexing).

Index dengan multiple kolom ini terjadi karena unique identifier tidak dapat dicapai hanya dengan set index di 1 kolom saja sehingga membutuhkan beberapa kolom yang menjadikan tiap row menjadi unique.

In [ ]:
# Set multi index df
df_ss = df_super_store.set_index(['order_id', 'order_date', 'customer_id'])
# Print nama dan level dari multi index
for name, level in zip(df_ss.index.names, df_ss.index.levels):
    print(name,':',level)

order_id : Index(['CA-2014-100006', 'CA-2014-100090', 'CA-2014-100293', 'CA-2014-100328',
       'CA-2014-100363', 'CA-2014-100391', 'CA-2014-100678', 'CA-2014-100706',
       'CA-2014-100762', 'CA-2014-100860',
       ...
       'US-2017-167570', 'US-2017-167920', 'US-2017-168116', 'US-2017-168613',
       'US-2017-168690', 'US-2017-168802', 'US-2017-169320', 'US-2017-169488',
       'US-2017-169502', 'US-2017-169551'],
      dtype='object', name='order_id', length=5008)
order_date : Index(['1/1/2017', '1/10/2014', '1/10/2015', '1/10/2016', '1/11/2014',
       '1/11/2016', '1/12/2015', '1/12/2017', '1/13/2014', '1/13/2015',
       ...
       '9/7/2014', '9/7/2015', '9/7/2017', '9/8/2014', '9/8/2015', '9/8/2016',
       '9/8/2017', '9/9/2014', '9/9/2016', '9/9/2017'],
      dtype='object', name='order_date', length=1237)
customer_id : Index(['AA-10315', 'AA-10375', 'AA-10480', 'AA-10645', 'AB-10015', 'AB-10060',
       'AB-10105', 'AB-10150', 'AB-10165', 'AB-10255',
       ...
       'VP-21760', 'VS-21820', 'VT-21700', 'VW-21775', 'WB-21850', 'XP-21865',
       'YC-21895', 'YS-21880', 'ZC-21910', 'ZD-21925'],
      dtype='object', name='customer_id', length=793)